<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    {{ $style := resources.Get "style/site.scss" | resources.ToCSS | resources.Minify }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
  </head>
  <body>
    <header id="header">
      <div class="heading left">
        {{ range .Site.Menus.head }}
        <a class="logo" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
        {{ end }}
        {{ range .Site.Menus.ops }}
        <a class="lang-op" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
        {{ end }}
      </div>
      <div class="right">
        <nav class="jumplist">
          <ul>
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            <li>
              <a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
            </li>
            {{ end }}
          </ul>
        </nav>
        <nav class="jumplist">
          <ul>
            {{ $currentPage := . }}
            {{ range .Site.Menus.others }}
            <li>
              <a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
            </li>
            {{ end }}
          </ul>
        </nav>
      </div>
    </header>
    <main>
    {{ block "main" . }}
    {{ end }}
    </main>
    <footer id="footer">
    {{ block "footer" . }}
    <hr />
    <div><a href="https://github.com/quinoa42">GitHub</a></div>
    <div><a href="https://bgm.tv/user/112851">Bangumi</a></div>
    <div><a href="https://myanimelist.net/profile/quinoa42">MyAnimeList</a></div>
    {{ end }}
    </footer>
  </body>
</html>
