#header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        font-size: 1.5em;
    }
    .heading {
        margin-right: 4px;
    }
    ul {
        padding-left: 0px;
    }

    .left, .right {
        display: inline-block;
    }

    .active a {
        text-decoration: underline;
    }

}
